html {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
  url(../img/blue.jpg) repeat center center fixed;
  background-size: 100% auto;
  background-repeat: repeat;
}

body {
  font-family: Helvetica, serif;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}
.navbar-inverse {
    background-color: #0069AA;
    }
.body-container {
  margin-top: 5%;
}
#form-main{
  margin-bottom:10%;
}
.demo {
  background-color: #E21D27;
  width: 150px;
  height: 75px;
}
/*iphone*/
@media only screen and (min-width : 320px)
{
header1{
  text-align: center;
  font-size: 1.5em
  margin-top: 5%;
  color: #FFF;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 7%;
  width: 75px;
  height: auto;
}
.paragraph1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1em;
  font-size: .75em;
  color: #FFF;
  padding: 10px;
}

.paragraph2 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1em;
  font-size: .75em;
  color: #FFF;
  padding: 10px;
}

.skills {
  color: #FFF;
  list-style: square;
  text-align: center;
  margin-top: 7%;
}

.skills li {
  display: block;
  text-align: center;
  padding: 10px;
  font-style: italics;
  font-size: .75em;
}
#form-main{
   width:100%;
   padding: 0px;
 }

 #form-div {
   background-color:rgba(192,192,192,0.4);
   padding-left:35px;
   padding-right:35px;
   padding-top:35px;
   padding-bottom:50px;
   width:250px;
   float: left;
   left: 50%;
   position:relative;
   margin-top:20px;
   margin-left: -175px;
 }

 .contactinfo-input {
   color:black;
   font-family: Helvetica, serif;
   font-weight:500;
   font-size: 19px;
   line-height: 22px;
   background-color:white;
   padding: 13px 13px 13px 13px;
   margin-bottom: 10px;
   width:100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
 }
 .contactinfo-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #E51C33;
    color: #E1132B;
    outline: none;
    padding: 13px 13px 13px 13px;
  }
  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }
 textarea {
     width: 100%;
     height: 100px;
     line-height: 150%;
     resize:vertical;
 }
   input:hover, textarea:hover,
   input:focus, textarea:focus {
     background-color:white;
   }
 #button{
   font-family: Helvetica, serif;
   float:left;
   width: 100%;
   border: #fbfbfb solid 4px;
   cursor:pointer;
   background-color: #E21D27;
   color:white;
   font-size:14px;
   padding-top:12px;
   padding-bottom:12px;
 }
 #button:hover{
  background-color: rgba(0,0,0,0);
  color: #000000;
}

.submit:hover {
  color: #0A82D2;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #FFFFFF;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:blue;
}
}
/*phones */
@media only screen and (min-width : 480px)
{
header1{
  text-align: center;
  font-size: 1.5em
  margin-top: 5%;
  margin-right: 48%;
  margin-left: 48%;
  color: #FFF;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 7%;
  width: 100px;
  height: auto;
}
.paragraph1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5em;
  font-size: 1em;
  color: #FFF;
  padding: 10px;
}

.paragraph2 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5em;
  font-size: 1em;
  color: #FFF;
  padding: 10px;
}

.skills {
  color: #FFF;
  list-style: square;
  text-align: center;
  margin-top: 7%;
}

.skills li {
  display: block;
  text-align: center;
  padding: 10px;
  font-style: italics;
  font-size: 1em;
}
#form-main{
   width:100%;
   float:left;
   padding-top:0px;
 }

 #form-div {
   background-color:rgba(192,192,192,0.4);
   padding-left:35px;
   padding-right:35px;
   padding-top:35px;
   padding-bottom:50px;
   width:250px;
   float: left;
   left: 50%;
   position:relative;
   margin-top:20px;
   margin-left: -175px;
 }

 .contactinfo-input {
   color:black;
   font-family: Helvetica, serif;
   font-weight:450;
   font-size: 20px;
   line-height: 22px;
   background-color: white;
   padding: 13px 13px 13px 13px;
   margin-bottom: 10px;
   width:100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
 }
 .contactinfo-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #E51C33;
    color: #E1132B;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }
 textarea {
     width: 100%;
     height: 150px;
     line-height: 150%;
     resize:vertical;
 }
 input:hover, textarea:hover,
   input:focus, textarea:focus {
     background-color:white;
   }
 #button{
   font-family:Helvetica, serif;
   float:left;
   width: 100%;
   border: white solid 4px;
   cursor:pointer;
   background-color: #E21D27;
   color:white;
   font-size:14px;
   padding-top:12px;
   padding-bottom:12px;
 }
 #button:hover{
   background-color: rgba(0,0,0,0);
   color: #000000;
 }

 .submit:hover {
   color: #0A82D2;
 }

 .ease {
   width: 0px;
   height: 74px;
   background-color: #FFFFFF;
   -webkit-transition: .3s ease;
   -moz-transition: .3s ease;
   -o-transition: .3s ease;
   -ms-transition: .3s ease;
   transition: .3s ease;
 }

 .submit:hover .ease{
   width:100%;
   background-color:blue;
 }
}

/*tablets*/
@media only screen and (min-width : 768px)
{
header1{
  text-align: center;
  font-size: 1.5em
  margin-top: 5%;
  margin-right: 48%;
  margin-left: 48%;
  color: #FFF;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 7%;
  width: 200px;
  height: auto;
}
.caption{
  color: white;
  text-align: center;
}
.paragraph1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5em;
  font-size: 1em;
  color: #FFF;
  padding: 10px;
}

.paragraph2 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5em;
  font-size: 1em;
  color: #FFF;
  padding: 10px;
}

.skills {
  color: #FFF;
  list-style: square;
  text-align: center;
  margin-top: 7%;
  padding: 10px;
}

.skills li {
  display: block;
  text-align: center;
  padding: 10px;
  font-style: italics;
  font-size: 1em;
}
  #form-main{
    width:100%;
    float:left;
    padding:0px;
  }

  #form-div {
    background-color:rgba(192,192,192,0.4);
    width:250px;
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:20px;
    margin-left: -175px;
  }
.contactinfo-input {
    color:black;
    font-family: Helvetica, serif;
    font-weight:450;
    font-size: 20px;
    line-height: 22px;
    background-color: white;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .contactinfo-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #E51C33;
    color: #E1132B;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

#button{
    font-family: Helvetica, serif;
    float:left;
    width: 100%;
    border: white solid 4px;
    cursor:pointer;
    background-color: #E21D27;
    color:white;
    font-size:14px;
    padding-top:12px;
    padding-bottom:12px;
  }
  #button:hover{
    background-color: rgba(0,0,0,0);
    color: #000000;
  }

  .submit:hover {
    color: #0A82D2;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #FFFFFF;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:blue;
  }
}
/*desktops*/
@media only screen and (min-width : 992px)
{

img {
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 200px;
  height: 200px;
}
.paragraph1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5em;
  font-size: 1.25em;
  color: #FFF;
  padding: 10px;
}

.paragraph2 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5em;
  font-size: 1.25em;
  color: #FFF;
  padding: 10px;
}

.skills {
  color: #FFF;
  list-style: square;
  text-align: center;
  margin-top: 3%;
}

.skills li {
  display: block;
  text-align: center;
  padding: 10px;
  font-style: italics;
  font-size: 1.25em;
}
  #form-main{
    width:100%;
    float:left;
    padding-top:0px;
  }

  #form-div {
    background-color:rgba(192,192,192,0.4);
    width:250px;
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:20px;
    margin-left: -175px;
  }

  .contactinfo-input {
    color:black;
    font-family: Helvetica, serif;
    font-weight:450;
    font-size: 20px;
    line-height: 22px;
    background-color:white;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .contactinfo-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #E51C33;
    color: #E1132B;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }
  input:hover, textarea:hover,
   input:focus, textarea:focus {
     background-color:white;
   }

  #button{
    font-family: Helvetica, serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #E21D27;
    color:white;
    font-size:14px;
    padding-top:12px;
    padding-bottom:12px;
  }
  #button:hover{
    background-color: rgba(0,0,0,0);
    color: #000000;
  }

  .submit:hover {
    color: #0A82D2;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #FFFFFF;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:blue;
  }
}
/*wide screens*/
@media only screen and (min-width : 1200px)
{
img {
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 200px;
  height: 200px;
}

.paragraph1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5em;
  font-size: 1.25em;
  color: #FFF;
  padding: 10px;
}

.paragraph2 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5em;
  font-size: 1.25em;
  color: #FFF;
  padding: 10px;
}

.skills {
  color: #FFF;
  list-style: square;
  text-align: center;
  margin-top: 3%;
}

.skills li {
  display: block;
  text-align: center;
  padding: 10px;
  font-style: italics;
  font-size: 1.25em;
}
  #form-main{
    width:100%;
    float:left;
    padding-top:0px;
  }

  #form-div {
   background-color:rgba(192,192,192,0.4);
   padding-left:35px;
   padding-right:35px;
   padding-top:35px;
   padding-bottom:50px;
   width: 450px;
   float: left;
   left: 50%;
   position: relative;
   margin-top:30px;
   margin-left: -230px;
 }
 .contactinfo-input {
    color:black;
    font-family: Helvetica,sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: #FFFFFF;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
  .contactinfo-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #E51C33;
    color: #E1132B;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }
  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

  #button{
    font-family: Helvetica, serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #E21D27;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  #button:hover{
   background-color: rgba(0,0,0,0);
   color: #000000;
 }

 .submit:hover {
   color: #0A82D2;
 }

 .ease {
   width: 0px;
   height: 74px;
   background-color: #FFFFFF;
   -webkit-transition: .3s ease;
   -moz-transition: .3s ease;
   -o-transition: .3s ease;
   -ms-transition: .3s ease;
   transition: .3s ease;
 }

 .submit:hover .ease{
   width:100%;
   background-color:blue;
 }
}
